body {
  margin: auto;
  max-width: 900px;
}

header {
  background-color: rgb(126, 30, 6);
  color: rgb(221, 207, 11);
  text-align: center;
  border-radius: 1ch;

}

img {
  float: right;
  width: 200px;

}

h1 {
  padding: 10px;
  font-size: 50px;
}

h2 {
  border-bottom: 10px solid;
  font-size: 30px;
}

main {
  font-size: 20px;
  padding-bottom: 20px;
  font-style: italic;
}

main a {
  color: brown;
}

main a:hover {
  color: aqua;
}

footer {
  background-color: rgb(126, 30, 6);
  color: white;
  text-align: center;
  border-radius: 1em;

}

footer a {
  color: white;

}

footer a:hover {
  color: rgb(221, 207, 11);

}

footer div {
  color: rgb(221, 207, 11);
}