@media only screen and (min-width: 55em) {
	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		/* change state in small view */
		flex: 1 1 100%;
	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
  }
  img {
    display: flex;
    max-width: 100%;
  
   
  }
  
  div.cards {
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
  
  }
  
  
  .cards section{
    display: block;
        max-width: 500px;
    max-height: 700px;
    background-color: #272727;
    border: 1px solid rgb(70, 3, 70);
  
  }

  .cards img {
    max-width: 100%;
  display: flex;
  box-shadow:  1px 1px 30px black;
    margin: 15px auto;
    display: block;
  }
  .article img{
    max-width: 500px;
    float: right;
    padding: .5em;
  }
	.contact {
        display: flex;
        text-align: left;
        margin: 0 auto;
        padding: 15px;
        background-color: #272727;
        color: #ffde0c;
        border-bottom: 10px solid #dadada;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
      }
      .contact picture img{
        display: flex;
      width: auto;
      
      }
      .contact p{
        text-align: left;
        padding: 7px;
      }
}