@media only screen and (min-width: 35rem) {
 
  div.cards {
    max-width: 100%;
    margin: .5rem auto;
    border:1px solid #bbb;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
  }
  .cards div{
   
    margin: auto;
    padding: 18px;
  }
  .cards section {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .cards section:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .cards img {
    max-width: 50%;
  display: flex;
  box-shadow:  1px 1px 30px black;
    margin: 15px auto;
    display: block;
  }

}