@media only screen and (min-width: 45em) {
	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		/* change state in small view */
		flex: 1 1 100%;
	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
  }
  div.image:hover {
    box-shadow: 0 10px 100px black;
  }

	.contact {
        display: flex;
        text-align: left;
        margin: 0 auto;
        padding: 15px;
        background-color: #272727;
        color: #ffde0c;
        border-bottom: 10px solid #dadada;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
      }
      .contact picture img{
        display: flex;
      width: auto;
      
      }
      .contact p{
        text-align: left;
        padding: 7px;
      }
}