@media only screen and (min-width: 60em) {
	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		/* change state in small view */
		flex: 1 1 100%;
	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

	.call-to-action {
      
        top: 200px;
        left: 200px;
	  }
	  .call-to-action h2{
      
       font-size: 60pt;
	  }
	  .rental-summary {
		max-width: 100%;
   display: flex
   
	}
	.rental-summary img {
		width: 50%;
		height: 100%;
	
		 }
		 .rental-summary div {
			width: 50%;
			margin: auto;
			padding-left: 20px;
			text-align: center
				 }
}