@media only screen and (min-width: 45rem) {

  .call-to-action {
    text-align: left;
    background: #ffffff;
    position: absolute;
    padding: 20px;
    border-radius: 3em;
    top: 50px;
    left: 50px;
    opacity: .9;
  }
  .call-to-action h2{
    font-size: 40pt;
    }
  main {
    max-width: 90%;
    margin: auto;
  }

 

  .rental-summary div {
    width: 100%;
    margin: auto;
    text-align: center
  }
  .weather-box{
    display: flex;
    max-width: 100%;
    padding-top: 2%;
    margin: 0 auto;
    justify-content: center;
  }

}

/*rental*/

