
body {

    margin: auto;
    max-width: 900px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  header {
    background-color:#383a3b;
    color:rgb(255, 230, 5);
    text-align: center;
    border-radius: 1em;
  
  }
  img {
    max-width: 100%;
  }
  .logo{
    
    width: 250px;
  
  }
  nav {
  background-color: #383a3b;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

	box-shadow: 0 2px 15px rgb(211, 208, 208);
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: rgb(255, 230, 5);
	text-align: center;
	padding: 2rem;
	text-decoration: none;
	font-size: 1.3rem;
}
nav a:hover {
	background-color: #bbb;
	color: rgb(70, 70, 248);
}
.active {
	color: rgb(255, 230, 5);
}
ol {
  padding-left: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20pt;
}
  h1 {
    padding: 10px;
    font-size: 50px;
    border-bottom: 10px solid  #bbb;
  }
  
  h2 {
    padding: 10px;
    background-color: #383a3b;
    color: rgb(255, 230, 5);
    border-bottom: 10px solid #bbb;
    font-size: 30px;
  }
  h3 {
    width: 120px;
    padding: 10px;
    background-color: #383a3b;
    color: rgb(255, 230, 5);
 
  }
  h4{
    padding: 10px;
   
    
    border-bottom: 10px solid #bbb;
 
  }
  p {
    padding-left: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
  }
  main {

    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px;
    padding-bottom: 20px;

  }
  
  main a {
    color: brown;
  }
  
  main a:hover {
    color: rgb(70, 70, 248);
  }
  
  footer {
    background-color: rgb(126, 30, 6);
    color: white;
    text-align: center;
    border-radius: 1em;
  
  }
  
  footer a {
    color: white;
  
  }
  
  footer a:hover {
    color: rgb(221, 207, 11);
  
  }
  
  footer div {
    color: rgb(221, 207, 11);
  }